.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; 
}

.customDatePicker {
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.calendarIcon {
    position: absolute;
    right: 0; 
    color: #007bff;
}
