.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .customDatePicker {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 3px;
  }
  