.title {
    text-align: center;
    color: rgb(58, 112, 31);
    padding: 10px;
}

a {
    display: flex;
    justify-content: center;
}

.link {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}